<div class="row">
  <div class="col-md-4">
    <h2>Search Domain</h2>
    <%= form_tag root_url, remote: true, method: :get do %>
      <div class="form-group">
        <%= label_tag "Domain Name" %>
        <%= text_field_tag :q, params[:q], placeholder: "Enter domain name", class: "form-control"%>
      </div>
      <%= submit_tag "Search", class: "btn btn-default" %>
    <% end %>

    <h3>My Bookmarks (<%= render "dashboard/bookmark" %>)</h3>
    <div class="bookmark_list"><%= render "dashboard/bookmark_list" %></div>
    <%= link_to "See all", domain_bookmarks_url, class: "btn btn-primary btn-lg btn-xs" %>
  </div>
  <div class="col-md-8">
    <p>
      <div id='results'></div>
    </p>
  </div>
</div>