<h2><%= @presenter.domain['query']%></h2>
<div class='highlight'>
  <%= register_disable_button_link @presenter.domain %>
  <%= register_button_link @presenter.domain %>

  <h3>Whois</h3>
  <p id="who_is"><%= @presenter.who_is.html_safe %></p>
  
  <h3>Purchase Options</h3>
  <ul>
  <% @presenter.domain['registrars'].each do |t| %>
    <li><%= link_to t['name'], t['register_url'], target: "_blank" %></li>
  <% end %>
  </ul>
</div>