<% if  @presenter.domains.blank? %>
  <h2>Ops!!! something wrong</h2>
  <p>please fill out domain name field</p>
<% else %>
  <h2>Results for <%= @presenter.domains['query']%></h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Host</th>
        <th>Sub Domain</th>
        <th>Path</th>
        <th>Available</th>
        <th>Register Info</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @presenter.domains['results'].each do |domain| %>
      <tr>
        <td><%= check_info_link domain %></th>
        <td><%= domain['host']%></td>
        <td><%= domain['subdomain']%></td>
        <td><%= domain['path']%></td>
        <td><%= domain['availability'].titleize %></td>
        <td><%= register_link domain %></td>
        <td><%= link_to "Bookmark", domain_bookmarks_url(domain_bookmark: domain), remote: true, method: :post, class: "btn btn-success btn-lg" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>