<h2>Domain Bookmark List</h2>
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= sort_link(presenter.search_domain, :domain) %></th>
      <th><%= sort_link(presenter.search_domain, :availability, "Available") %></th>
      <th>Register Info</th>
      <th><%= sort_link(presenter.search_domain, :price, "Price ($)") %></th>
      <th><%= sort_link(presenter.search_domain, :buy, "Buy ($)") %></th>
      <th><%= sort_link(presenter.search_domain, :sell, "Sell ($)") %></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% presenter.domains.each do |domain| %>
    <tr>
      <td><%= domain.domain %></th>
      <td><%= domain.availability.titleize %></td>
      <td><%= register_link domain %></td>
      <td><%= domain.price || 'N/A' %></td>
      <td><%= domain.buy || 'N/A' %></td>
      <td><%= domain.sell || 'N/A' %></td>
      <td><%= link_to "edit", edit_domain_bookmark_url(domain), class: "btn btn-primary btn-lg btn-xs"%> | <%= link_to "delete", domain_bookmark_url(domain), class: "btn btn-danger btn-lg btn-xs", method: :delete, "data-confirm" => "Are you sure want to remove this domain?" %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @presenter.present? %>
  <div class="col-xs-12 text-left">
    <%= paginate @presenter.domains %>
  </div>
<% end %>