<h3>Filter</h3>
<div class='row'>
  <%= search_form_for @presenter.search_domain, class: "form-inline" do |f| %>
    <div class="form-group">
      <%= f.label :domain %>
      <%= f.search_field :domain_cont, class: "form-control" %>
      <%= f.submit "search", class: "btn btn-default" %>
      <%= link_to "Reset", domain_bookmarks_url, class: "btn btn-danger btn-lg btn-xs" %>
   </div>
    
  <% end %>
  
</div>