<div class='row'>
  <h2> Edit <%= @domain_bookmark.domain %> </h2>
  <%= form_for @domain_bookmark, class: "form-inline" do |t| %>
    <div class="form-group">
      <%= t.label :price, "Price ($)" %>
      <%= t.text_field :price, class: "form-control" %>    
    </div>
    <div class="form-group">
      <%= t.label :buy, "Buy ($)" %>
      <%= t.text_field :buy, class: "form-control" %>  
    </div>
    <div class="form-group">
      <%= t.label :sell, "Sell ($)" %>
      <%= t.text_field :sell, class: "form-control" %>  
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  <% end %>
</div>