<div class='row'>
  <div class="col-md-12">
    <%= render "domain_bookmarks/search", presenter: @presenter %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render "domain_bookmarks/list", presenter: @presenter %>
  </div>
</div>