<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Domain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <%= link_to "&#8962; home".html_safe, root_url, class: "btn btn-default btn-lg btn-xs" %>
      <%= link_to "bookmarks", domain_bookmarks_url, class: "btn btn-warning btn-lg btn-xs" %>
      </div>
    </div>
    <%= yield %>    
  </div>
</body>
</html>
